.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Cart-button button {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
}

.Cart-button button span {
  position: absolute;
  background-color: #f00;
  color: #fff;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  right: -5px;
  top: -5px;
}

.Cart-button button img { 
  width: 30px;
  height: 30px;
}