.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: cyan;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Cart-button button {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
}

.Cart-button button span {
  background-color: red;
  border-radius: 50%;
  color: white;
  height: 15px;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 15px;
}

.Cart-button button img {
  height: 30px;
  width: 30px;
}
